<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginControllerForStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherController</servlet-name>
        <servlet-class>Controller.TeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>Controller.Student.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudent</servlet-name>
        <servlet-class>Controller.Student.SearchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>Controller.Student.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCourse</servlet-name>
        <servlet-class>Controller.ListCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupController</servlet-name>
        <servlet-class>Controller.GroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentController</servlet-name>
        <servlet-class>Controller.ListStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTimeTableStudentController</servlet-name>
        <servlet-class>Controller.ViewTimeTableStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherController</servlet-name>
        <url-pattern>/TeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudent</servlet-name>
        <url-pattern>/SearchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCourse</servlet-name>
        <url-pattern>/ListCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupController</servlet-name>
        <url-pattern>/GroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentController</servlet-name>
        <url-pattern>/ListStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTimeTableStudentController</servlet-name>
        <url-pattern>/ViewTimeTableStudentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
