USE [master]
GO
/****** Object:  Database [Assignment]    Script Date: 7/5/2022 9:27:06 PM ******/
CREATE DATABASE [Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Assignment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Assignment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[aId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](250) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[displayName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[aId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseSchedule]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSchedule](
	[TeachingScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[subjectId] [int] NULL,
	[SessionDate] [date] NULL,
	[SlotId] [int] NULL,
	[RoomId] [int] NULL,
	[Description] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeachingScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enroll]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enroll](
	[GroupId] [int] NOT NULL,
	[StudentId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Course]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Course](
	[GroupId] [int] NOT NULL,
	[TeachingScheduleId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupCode] [nvarchar](50) NULL,
	[GroupDescription] [nvarchar](300) NULL,
	[LectureId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecture]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture](
	[lectureId] [int] IDENTITY(1,1) NOT NULL,
	[lectureName] [nvarchar](50) NOT NULL,
	[lectureCode] [nvarchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NULL,
	[address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Lecture] PRIMARY KEY CLUSTERED 
(
	[lectureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RollCallBook]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RollCallBook](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[TeachingScheduleId] [int] NULL,
	[StudentId] [int] NULL,
	[IsAbsent] [bit] NULL,
	[Comment] [nvarchar](300) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[roomId] [int] IDENTITY(1,1) NOT NULL,
	[roomName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[slotId] [int] IDENTITY(1,1) NOT NULL,
	[slotName] [nvarchar](50) NOT NULL,
	[startTime] [time](7) NOT NULL,
	[endTime] [time](7) NOT NULL,
 CONSTRAINT [PK_Slot] PRIMARY KEY CLUSTERED 
(
	[slotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentId] [int] IDENTITY(1,1) NOT NULL,
	[rollNumber] [nvarchar](250) NOT NULL,
	[fullName] [nvarchar](250) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
	[image] [nvarchar](250) NOT NULL,
	[address] [nvarchar](250) NOT NULL,
	[phoneNumber] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/5/2022 9:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectId] [int] IDENTITY(1,1) NOT NULL,
	[subjectCode] [nvarchar](250) NOT NULL,
	[subjectName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([aId], [userName], [password], [displayName]) VALUES (1, N'Assignmentbq', N'123', N'Heluu Assignment Quang Bui')
INSERT [dbo].[Accounts] ([aId], [userName], [password], [displayName]) VALUES (2, N'mra', N'1234', N'Heluu Mra')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseSchedule] ON 

INSERT [dbo].[CourseSchedule] ([TeachingScheduleId], [subjectId], [SessionDate], [SlotId], [RoomId], [Description]) VALUES (1, 1, CAST(N'2011-07-23' AS Date), 1, 1, NULL)
INSERT [dbo].[CourseSchedule] ([TeachingScheduleId], [subjectId], [SessionDate], [SlotId], [RoomId], [Description]) VALUES (4, 3, CAST(N'2011-07-26' AS Date), 1, 2, NULL)
INSERT [dbo].[CourseSchedule] ([TeachingScheduleId], [subjectId], [SessionDate], [SlotId], [RoomId], [Description]) VALUES (6, 3, CAST(N'2011-07-28' AS Date), 3, 2, NULL)
SET IDENTITY_INSERT [dbo].[CourseSchedule] OFF
GO
INSERT [dbo].[Enroll] ([GroupId], [StudentId]) VALUES (1, 1)
INSERT [dbo].[Enroll] ([GroupId], [StudentId]) VALUES (1, 2)
INSERT [dbo].[Enroll] ([GroupId], [StudentId]) VALUES (1, 3)
GO
INSERT [dbo].[Group_Course] ([GroupId], [TeachingScheduleId]) VALUES (1, 1)
INSERT [dbo].[Group_Course] ([GroupId], [TeachingScheduleId]) VALUES (1, 7)
INSERT [dbo].[Group_Course] ([GroupId], [TeachingScheduleId]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupId], [GroupCode], [GroupDescription], [LectureId]) VALUES (1, N'SE0507', N'SE0507', 1)
INSERT [dbo].[Groups] ([GroupId], [GroupCode], [GroupDescription], [LectureId]) VALUES (4, N'SE0508', N'SE0508', 2)
INSERT [dbo].[Groups] ([GroupId], [GroupCode], [GroupDescription], [LectureId]) VALUES (5, N'SE0509', N'SE0509', 1)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecture] ON 

INSERT [dbo].[Lecture] ([lectureId], [lectureName], [lectureCode], [gender], [dob], [address]) VALUES (1, N'Nguyễn Thúy Hường', N'HuongNT', 0, CAST(N'1989-06-20' AS Date), N'Hà N?i')
INSERT [dbo].[Lecture] ([lectureId], [lectureName], [lectureCode], [gender], [dob], [address]) VALUES (2, N'Trần Đình Tiến', N'TienTD', 1, CAST(N'1989-06-20' AS Date), N'Hà N?i')
INSERT [dbo].[Lecture] ([lectureId], [lectureName], [lectureCode], [gender], [dob], [address]) VALUES (3, N'Ngô Tùng Sơn', N'SonNT', 1, CAST(N'1989-06-20' AS Date), N'Hà N?i')
SET IDENTITY_INSERT [dbo].[Lecture] OFF
GO
SET IDENTITY_INSERT [dbo].[RollCallBook] ON 

INSERT [dbo].[RollCallBook] ([GroupId], [TeachingScheduleId], [StudentId], [IsAbsent], [Comment]) VALUES (1, 1, 1, 1, N'null')
INSERT [dbo].[RollCallBook] ([GroupId], [TeachingScheduleId], [StudentId], [IsAbsent], [Comment]) VALUES (2, 1, 2, 0, N'null')
INSERT [dbo].[RollCallBook] ([GroupId], [TeachingScheduleId], [StudentId], [IsAbsent], [Comment]) VALUES (3, 1, 3, 0, N'null')
GO
SET IDENTITY_INSERT [dbo].[RollCallBook] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([roomId], [roomName]) VALUES (1, N'BE-213    ')
INSERT [dbo].[Room] ([roomId], [roomName]) VALUES (2, N'DE-303    ')
INSERT [dbo].[Room] ([roomId], [roomName]) VALUES (3, N'DE-202    ')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([slotId], [slotName], [startTime], [endTime]) VALUES (1, N'Slot 1', CAST(N'07:30:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[Slot] ([slotId], [slotName], [startTime], [endTime]) VALUES (2, N'Slot 2', CAST(N'09:10:00' AS Time), CAST(N'10:40:00' AS Time))
INSERT [dbo].[Slot] ([slotId], [slotName], [startTime], [endTime]) VALUES (3, N'Slot 3', CAST(N'10:50:00' AS Time), CAST(N'12:20:00' AS Time))
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([studentId], [rollNumber], [fullName], [gender], [dob], [image], [address], [phoneNumber]) VALUES (1, N'HE150907', N'Bùi Quang Cường', 1, CAST(N'2001-01-10' AS Date), N'assets/img/anhnam.jpg', N'Hà N?i', N'0962813919')
INSERT [dbo].[Student] ([studentId], [rollNumber], [fullName], [gender], [dob], [image], [address], [phoneNumber]) VALUES (2, N'HE159978', N'Thành Hữu Ngân Giang', 0, CAST(N'2001-03-04' AS Date), N'assets/img/anhnu.jpg', N'Hà N?i', N'0977865123')
INSERT [dbo].[Student] ([studentId], [rollNumber], [fullName], [gender], [dob], [image], [address], [phoneNumber]) VALUES (3, N'HE156632', N'Nguyễn Phúc Hưng', 1, CAST(N'2001-09-08' AS Date), N'assets/img/anhnam.jpg', N'Hà N?i', N'0988362776')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([subjectId], [subjectCode], [subjectName]) VALUES (1, N'PRJ301', N'Java Web Application Development')
INSERT [dbo].[Subject] ([subjectId], [subjectCode], [subjectName]) VALUES (2, N'WED201c', N'Web Design')
INSERT [dbo].[Subject] ([subjectId], [subjectCode], [subjectName]) VALUES (3, N'PRN211', N'Basic Cross-Platform Application Programming With .NET')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
ALTER TABLE [dbo].[CourseSchedule]  WITH CHECK ADD  CONSTRAINT [FK_CourseSchedule_CourseSchedule] FOREIGN KEY([TeachingScheduleId])
REFERENCES [dbo].[CourseSchedule] ([TeachingScheduleId])
GO
ALTER TABLE [dbo].[CourseSchedule] CHECK CONSTRAINT [FK_CourseSchedule_CourseSchedule]
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[Enroll] CHECK CONSTRAINT [FK_Enroll_Groups]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Lecture] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lecture] ([lectureId])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Lecture]
GO
USE [master]
GO
